* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif
}

.text-shadow {
  text-shadow: 0 5px 5px rgba(0,0,0,0.75)
}

.header {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 15px
}

.header-logo {
  max-width: 145px;
  display: flex;
  align-items: center
}

.header-logo img {
  width: 100%
}

.header-menu {
  display: flex;
  align-items: center
}

.header-menu a {
  margin: 0 15px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px
}

.banner-top {
  max-width: 1250px;
  margin: 10px auto 5px;
  display: flex;
  align-items: flex-end
}

.banner-top h1 {
  font-size: 54px;
  color: #fff;
  margin: auto;
  text-align: center;
  font-weight: 800
}

.banner-wrapper {
  background: url(img/VL_banner_bg.jpg) no-repeat center center;
  background-size: cover;
  border-top: 4px solid #fff;
  margin-bottom: 80px
}

.banner-middle {
  padding: 10px 20px
}

.banner-middle__wrapper {
  max-width: 1250px;
  margin: 10px auto 40px;
  display: flex;
  justify-content: space-around;
  position: relative
}

.banner-middle__left {
  width: 46%;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 47px;
  text-align: center;
  color: #fff
}

.banner-middle__left h4 {
  font-family: MYRIADPRO-BOLDCOND;
  font-size: 48px
}

.banner-middle__left h3 {
  font-family: MYRIADPRO-BOLDCOND;
  font-size: 54px
}

.banner-middle__left h2 {
  font-family: MYRIADPRO-BOLDCOND;
  font-size: 87px;
  padding: 0 10px
}

.space_paner {
  width: 20%
}

.head-circle {
  position: absolute;
  bottom: 54%;
  width: 44%;
  left: 12%
}

.banner-yellow-text {
  text-align: center;
  color: #fffa00;
  font-size: 30px;
  font-family: MYRIADPRO-BOLD;
  overflow: hidden
}

.banner-yellow-text::after,.banner-yellow-text::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #fffa00
}

.banner-yellow-text::before {
  margin-left: -100%
}

.banner-yellow-text::after {
  margin-right: -100%
}

.banner-middle__left--one {
  margin-left: 20%;
  margin-bottom: -10px
}

.banner-middle__left--two {
  font-family: Dulcelin;
  color: #eb1111;
  font-size: 50px;
  font-size: 200px;
  line-height: 118px;
  font-weight: 400
}

.banner-middle__left--four {
  font-size: 60px
}

.banner-middle__left--five {
  color: #b00000;
  font-size: 23px;
  font-weight: 700
}

.banner-middle__right {
  width: 44%;
  margin-top: 50px
}

.banner-middle__right img {
  width: 100%
}

.banner-bot {
  background: #000d00;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 12px;
  font-size: 20px;
  margin-top: 15px
}

.banner-block {
  height: 100px;
  width: 100%;
  font-size: 30px;
  border: 6px solid #eee000;
  margin-top: 50px;
  font-weight: 700;
  color: #eee000;
  line-height: 40px;
  background-color: rgba(0,0,0,.5)
}

.red-color {
  color: #d70a18
}

.timer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 15px 30px;
  position: relative
}

.timer>.timer-row {
  display: flex
}

.timer>.timer-row>div {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.timer>.timer-row:last-child>div:last-child {
  margin-right: 0
}

.timer-digits {
  display: flex
}

.timer p {
  color: #50ab16;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  font-family: MYRIADPRO-BOLDCOND
}

.timer-digits span {
  font-family: MYRIADPRO-BOLDCOND;
  display: inline-block;
  border-radius: 10px;
  font-size: 78px;
  line-height: 70px;
  padding: 0;
  font-weight: 700;
  margin: 0;
  color: #50ab16
}

.timer-days,.timer-hours,.timer-minutes,.timer-seconds {
  background: url(img/timer-wrapper.png) no-repeat center center;
  background-size: contain;
  padding: 48px 43px 44px 44px;
  width: 200px;
  height: 200px
}

.timer-seconds {
  margin-right: 0
}

.discount {
  background: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px 15px 50px;
  position: relative;
  margin-top: 80px
}

.discount-text__header {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px
}

.discount-text__header img {
  width: 100%
}

.discount .triangle {
  position: absolute;
  top: -2px
}

.discount-text {
  background-color: rgba(255,255,255,1);
  padding: 40px 52px;
  padding-bottom: 60px;
  font-size: 22px;
  line-height: 1.7;
  max-width: 1125px
}

.discount-text h4 {
  font-size: 30px
}

.discount-text h5 {
  font-size: 28px;
  font-weight: 600
}

.red-dot {
  padding-right: 15px
}

.red-dot img {
  margin-bottom: 2px
}

.discount-mark {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  background-color: #be0000;
  padding: 20px;
  text-shadow: 2px 2px #000;
  transform: rotate(8deg)
}

.destroy {
  max-width: 1080px;
  margin: 80px auto 50px;
  padding: 0 15px
}

.destroy-head {
  font-weight: 600;
  font-size: 34px
}

.destroy-subhead {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px
}

.destroy-list p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #323232
}

.destroy-list p img {
  width: 20px;
  margin-right: 10px
}

.buynow-button-wrapper {
  width: 500px;
  margin: auto
}

.buynow-button-wrapper img {
  width: 100%
}

.destroy-button-wrapper {
  max-width: 800px;
  margin: 0 auto
}

.destroy-button-wrapper a {
  text-decoration: none;
  display: block
}

.destroy-button-wrapper img {
  width: 100%
}

.destroy-button-wrapper.button-mob {
  display: none;
  margin-top: -20px;
  margin-bottom: 20px
}

.destroy-button-wrapper.button-mob p {
  font-size: 11.5px;
  text-align: center;
  color: #000;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -15px
}

.destroy-button-wrapper.button-mob img {
  margin-left: -5px;
  margin-right: -5px;
  width: calc(100% + 10px)
}

.yellow a .destroy-button {
  background-color: #e8cc4d
}

.destroy-button {
  padding: 10px 20px;
  background-color: #ffba00;
  color: #fff;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 1px 1px #000;
  border-radius: 8px
}

.cnpdescription-wrapper {
  background-color: #e6f5ff;
  padding: 20px 0
}

.cnpdescription {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px
}

.cnpdescription-top {
  display: flex;
  align-items: center
}

.cnpdescription-top__img {
  width: 250px;
  min-width: 250px
}

.cnpdescription-top__img img {
  width: 100%
}

.cnpdescription-top__text--header {
  margin: 20px 0 35px;
  font-size: 34px
}

.cnpdescription-bottom__text--header {
  text-align: center;
  margin: 20px 0 35px;
  font-size: 34px
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  margin: 0 auto;
  position: absolute;
  top: 0
}

.cnphealth {
  max-width: 1080px;
  margin: 0 auto 50px;
  padding: 0 15px
}

.cnphealth-top {
  display: flex;
  align-items: center
}

.cnphealth-header {
  margin: 30px 0;
  text-align: center;
  font-weight: 600;
  font-size: 34px
}

.cnphealth-top__img {
  min-width: 300px;
  margin-left: 20px
}

.cnphealth-top__img img {
  width: 100%
}

.cnphealth-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px
}

.cnphealth-button-wrapper a {
  text-decoration: none
}

.cnphealth-button {
  padding: 10px 20px;
  background-color: #ffba00;
  color: #fff;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 1px 1px #000;
  border-radius: 8px
}

.cnphealth-list p {
  display: flex;
  align-items: center;
  margin: 10px 5px
}

.cnphealth-list img {
  width: 25px;
  margin-right: 10px
}

.plus-article {
  padding: 20px 0
}

.inside-wrapper {
  background-color: #e6f5ff
}

.inside {
  max-width: 1080px;
  margin: 0 auto 50px;
  padding: 25px 15px 0
}

.inside-header {
  text-align: center;
  font-weight: 600;
  margin: 0;
  font-size: 34px
}

.inside-block {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 3px solid #a00000
}

.inside-block:last-child {
  border-bottom: 0
}

.inside-block:nth-child(odd) .inside-block__text {
  text-align: end
}

.inside-block:nth-child(odd) .inside-block__img {
  margin-right: 30px
}

.inside-block:nth-child(even) .inside-block__img {
  margin-left: 30px
}

.inside-block__img {
  width: 150px
}

.inside-block__img img {
  width: 150px
}

.riskfree-header {
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  padding: 0 15px
}

.riskfree-guarantee__wrapper {
  margin: 20px auto;
  background-color: #ebebeb
}

.riskfree-guarantee {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 15px
}

.riskfree-guarantee__text {
  padding: 15px 0
}

.riskfree-guarantee__img {
  min-width: 200px;
  margin: -30px 0 -30px 20px
}

.riskfree-guarantee__img img {
  width: 100%
}

.questions {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px
}

.questions-header {
  text-align: center;
  font-size: 34px;
  font-weight: 600
}

.questions-question {
  border: 2px solid #ebebeb;
  border-radius: 10px;
  margin: 50px auto
}

.questions-question__header {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  padding: 12px 17px;
  font-weight: 600;
  cursor: pointer
}

.questions-question__header img {
  width: 12px;
  margin-right: 10px
}

.questions-question__text {
  display: none;
  padding: 15px
}

.dark-red-color {
  color: #590002
}

.yellow-color {
  color: #ffff01
}

.yellow-bg {
  background-color: #ff0
}

.extra-bold {
  font-weight: 800
}

.bold {
  font-weight: 700
}

.red-bg {
  background-color: #fe0000;
  color: #fff;
  padding: 0 5px
}

.blue-color {
  color: #043d87
}

.triangle-blue {
  border-top: 30px solid #f6eded
}

.triangle-white {
  border-top: 4vw solid #fff
}

.check-mark {
  width: 20px
}

.linkBlock {
  padding: 12px 35px;
  border-radius: 12px;
  display: block;
  margin: 0 auto 30px;
  max-width: 775px;
  text-align: center
}

.linkBlock a {
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px
}

.footer {
  text-align: center;
  padding: 20px 10px;
  max-width: 750px;
  margin: 0 auto;
  color: #222;
  font-size: 11px;
  font-family: Arial,sans-serif;
  line-height: 15.7px
}

.mobile-650px {
  display: none
}

@media all and (max-width: 1350px) {
  .banner-top h1 {
      font-size:50px
  }

  .banner-middle__left h4 {
      font-size: 48px
  }

  .banner-middle__left h3 {
      font-size: 54px
  }

  .banner-middle__left h2 {
      font-size: 60px
  }
}

@media all and (max-width: 1230px) {
  .head-circle {
      width:48%;
      left: 8%
  }

  .banner-middle__left h4 {
      font-size: 38px
  }

  .banner-middle__left h3 {
      font-size: 44px
  }

  .banner-middle__left h2 {
      font-size: 70px
  }

  .banner-block {
      font-size: 25px
  }
}

@media all and (max-width: 1160px) {
  .banner-middle__left h2 {
      font-size:69px
  }

  .banner-middle__left h3 {
      font-size: 47px
  }

  .banner-middle__left h4 {
      font-family: MYRIADPRO-BOLDCOND;
      font-size: 40px
  }
}

@media all and (max-width: 1070px) {
  .banner-top h1 {
      font-size:4.6vw
  }

  .banner-middle__left h2 {
      font-size: 60px
  }

  .banner-middle__left h3 {
      font-size: 40px
  }

  .banner-middle__left h4 {
      font-family: MYRIADPRO-BOLDCOND;
      font-size: 35px
  }
}

@media all and (max-width: 1000px) {
  .banner-middle__left {
      margin-left:9%;
      zoom:80%}

  .space_paner {
      width: 10%
  }

  .head-circle {
      left: 18%
  }

  .timer {
      padding: 50px 24px 30px 15px
  }

  .timer-days,.timer-hours,.timer-minutes,.timer-seconds {
      padding: 44px 0;
      width: 160px
  }
}

@media all and (max-width: 950px) {
  .banner-middle__right {
      width:35%
  }

  .head-circle {
      width: 46%;
      left: 16%;
      bottom: 53.5%
  }

  .banner-middle__left {
      margin-top: 100px
  }
}

@media all and (max-width: 900px) {
  .banner-middle__left {
      margin-top:90px
  }

  .banner-middle__left h2 {
      font-size: 50px
  }

  .banner-middle__left h3 {
      font-size: 34px
  }

  .banner-middle__left h4 {
      font-family: MYRIADPRO-BOLDCOND;
      font-size: 29px
  }

  .timer {
      flex-direction: column;
      align-items: center;
      background: 0 0;
      padding: 0;
      position: relative;
      overflow: hidden
  }

  .timer>.timer-row>div {
      margin-right: 0
  }

  .timer-row {
      background-size: cover;
      width: 500px;
      height: 267px;
      justify-content: space-between;
      align-items: center;
      padding: 33px 65px 21px 55px
  }

  .timer-line {
      display: none
  }

  .timer-line-mob {
      display: block;
      width: 100%;
      z-index: -1
  }

  .timer-line-mob:first-child {
      top: 26px
  }

  .timer-line-mob:nth-child(2) {
      top: 293px
  }

  .discount-text__header {
      width: 100%
  }
}

@media all and (max-width: 850px) {
  .banner-middle__left {
      margin-top:85px
  }

  .banner-yellow-text::after,.banner-yellow-text::before {
      width: 0;
      margin: 0
  }

  .banner-middle__right {
      width: 40%
  }
}

@media all and (max-width: 800px) {
  .riskfree-guarantee__img {
      min-width:180px;
      min-width: 180px
  }

  .banner-bot {
      font-size: 17px
  }

  .banner-middle__left {
      margin-top: 80px
  }

  .banner-middle__right {
      width: 40%
  }

  .banner-block {
      font-size: 21px
  }
}

@media all and (max-width: 776px) {
  .banner-middle__left {
      margin-top:80px
  }

  .banner-yellow-text {
      font-size: 27px
  }

  .banner-middle__right {
      width: 40%
  }

  .banner-block {
      font-size: 21px
  }

  .banner-middle__left h3 {
      font-size: 33px
  }
}

@media screen and (max-width: 750px) {
  .header-menu a {
      font-size: 17px
  }

  .banner-top h1 {
      font-size: 5.4vw;
      margin: auto;
      padding: 0 10px
  }

  .space_paner {
      display: none
  }

  .head-circle {
      display: none
  }

  .banner-middle__wrapper {
      margin: 25px auto 30px
  }

  .banner-middle__right {
      display: none
  }

  .banner-middle__left {
      margin: 0 auto;
      zoom:100%;width: 100%
  }

  .banner-middle__left h3 {
      padding-bottom: 20px
  }

  .banner-yellow-text {
      font-size: 24px
  }

  .banner-wrapper {
      background-position: center
  }

  .destroy-button-wrapper {
      width: 80%
  }

  .linkBlock a {
      font-size: 10px
  }

  .linkBlock {
      margin: 0 10px 30px
  }
}

@media all and (max-width: 650px) {
  .header-menu a {
      font-size:16px
  }

  .banner-bot {
      font-size: 3vw;
      margin-top: 0;
      font-size: 2.3vw
  }

  .cnpdescription-top__text--header {
      text-align: center
  }

  .cnpdescription-top {
      flex-direction: column-reverse
  }

  .cnpdescription-top__img {
      margin: 35px auto 20px
  }

  .cnphealth-top {
      flex-direction: column
  }

  .inside-block {
      flex-direction: column
  }

  .cnphealth-top__img {
      margin: 20px auto
  }

  .inside-block:nth-child(odd) .inside-block__img {
      margin: 15px 0
  }

  .inside-block:nth-child(even) .inside-block__img {
      margin: 15px 0
  }

  .riskfree-guarantee {
      flex-direction: column-reverse
  }

  .discount-text h4 {
      font-size: 23px
  }

  .discount-text h5 {
      font-size: 20px
  }

  .riskfree-guarantee__img {
      width: 150px;
      margin: 20px 0
  }

  .destroy {
      margin: 30px auto 50px
  }

  .discount-mark {
      font-size: 20px
  }

  .discount-text {
      font-size: 17px;
      padding: 30px 10px
  }

  .questions-question {
      margin: 25px auto
  }

  .destroy-button-wrapper {
      width: 100%
  }
}

@media all and (max-width: 600px) {
  .header-menu a {
      font-size:13px
  }

  .banner-top {
      margin: 40px auto 20px
  }

  .banner-middle__left--one {
      font-size: 8vw;
      margin-left: 26%;
      margin-bottom: -14px
  }

  .banner-middle__left--two {
      font-size: 35vw;
      line-height: 21vw
  }

  .banner-middle__left--three {
      font-size: 8vw
  }

  .banner-middle__left--four {
      font-size: 11vw
  }

  .buynow-button-wrapper {
      width: 100%
  }

  .discount-text__header h2 {
      font-size: 4vw
  }

  .desktop-600 {
      display: none
  }
}

@media all and (max-width: 500px) {
  .header-menu a {
      font-size:12px
  }

  .banner-middle__wrapper {
      margin: 10px auto 30px
  }

  .banner-top h1 {
      font-size: 6.5vw;
      margin: auto;
      padding: 0 5px
  }

  .header-logo {
      display: none
  }

  .header-menu {
      margin: auto
  }

  .header-menu a {
      font-size: 10px
  }

  .banner-bot {
      font-size: 3.5vw
  }

  .banner-block {
      font-size: 16px;
      border: 5px solid #eee000
  }

  .timer-row {
      width: 335px;
      height: 180px;
      padding: 32px 20px 21px 15px
  }

  .timer-line-mob {
      border-bottom: 5px solid #000
  }

  .timer-line-mob:first-child {
      top: 18px
  }

  .timer-line-mob:nth-child(2) {
      top: 198px
  }

  .timer-days,.timer-hours,.timer-minutes,.timer-seconds {
      padding: 62px 0 44px;
      width: 143px
  }

  .timer-digits span {
      font-size: 58px;
      line-height: 50px
  }

  .timer p {
      font-size: 18px
  }

  .discount-text__header {
      width: 100%
  }

  .cnphealth-top__img {
      min-width: 285px
  }
}

@media all and (max-width: 450px) {
  .destroy-button-wrapper.button-mob {
      display:block
  }

  .destroy-button-wrapper.button-pc {
      display: none
  }

  .banner-top h1 {
      font-size: 10vw
  }

  .banner-middle__wrapper {
      margin: 0 auto 35px
  }

  .discount {
      padding: 30px 5px 10px
  }

  .discount-text {
      padding: 5px
  }
}

@media all and (max-width: 408px) {
  .header {
      height:60px
  }

  .header-menu a {
      margin: 0 6px
  }

  .banner-middle__left h4 {
      font-size: 24px
  }

  .banner-middle__left h3 {
      padding-bottom: 8px;
      font-size: 27px
  }

  .banner-middle__left h2 {
      font-size: 41px
  }

  .banner-yellow-text {
      font-size: 22px
  }

  .banner-middle__bot {
      padding: 7px 5px;
      font-size: 4.5vw
  }

  .banner-middle__left--five {
      font-size: 5vw
  }
}

@media all and (max-width: 321px) {
  .header {
      height:60px
  }

  .header-menu a {
      margin: 0 6px
  }
}